body {
    font-family: Verdana;

}

/* Display Block */
.block {
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}

/* Caracteristicas do Block
- Ocupa toda a largura
- Sempre quebra linha
- Aceita width e height */

/* DISPLAY INLINE */
.inline {
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}
/* Caracteristicas do INLINE
-Não quebra linha
-Ocupa apenas o conteúdo
- Não aceita width e height */

/* DISPLAY INLINE-BLOCK */
.inline-block {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightcyan;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

/* Características
- fica na mesma linha
- aceita width e height
- pode ser usado em layouts de botões */